version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly

  # Update Python dependencies
  - package-ecosystem: uv
    directory: /
    schedule:
      interval: monthly

  # Update Dev Container definitions
  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: monthly
