# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*

# misc
.coverage
.vscode/settings.json
coverage.xml
.ruff_cache

# macOS
.DS_Store

# Home Assistant configuration
config/*
!config/configuration.yaml
